@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #424243;
    font-family: 'Roboto', sans-serif;
}

img.logo {
    width: 50px;
}

.container {
    background-color: #222223;
    padding: 50px;
    color: white;
}

header {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

img.header {
    width: 50%;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    background-color: darkgrey;
    color: lightgray;
}

main {
    min-height: 100px;
}

footer {
    padding: 5px;
    border-top: black solid 2px;
    text-align: center;
}

ul {
    margin-left: 30px;
}

main a {
    text-decoration: none;
    color: white;
}

main a:hover {
    text-decoration: underline;
    color: white;
}

main a:visited {
    text-decoration: none;
    color: white;
}

div.details_image {
    margin: 10px auto;
}

.details_image {
    width: 30vw;
}