{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
<link href="{% static 'posts/css/style.css' %}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block title %} Dodawanie nowego posta {% endblock %}

{% block main %}
<h1>
    <img alt="Logo kategorii" class="logo" src="{% static 'posts/img/posts_logo.png' %}">
    Nowy post
</h1>
<div class="center-form-400px-border1px">
    {% crispy form %}
</div>
{% endblock %}
{% block additional_scripts %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}