{% extends 'base.html' %}
{% load static %}

{% block title %} Lista postów {% endblock %}
{% block main %}
<h1>
    <img alt="Logo kategorii" class="logo" src="{% static 'posts/img/posts_logo.png' %}">
    Posty
</h1>
<h3>
    Post nr {{post.id}}
</h3>
<p class="text-decoration-underline">Szczegóły:</p>
<ul>
    <li>Tytuł: {{post.title}}</li>
    <li>Opis: {{post.content}}</li>
    <li>Opublikowany:
        {%if post.published %}
        tak
        {% else %}
        nie
        {% endif %}
    </li>
    <li>Utworzony: {{post.created}}</li>
    <li>Zmodyfikowany: {{post.modified}}</li>
    <li>Tagi: {{post.tags}}</li>
    {% if post.image_file %}
    <div class="details_image" >
        <img class="details_image" src="{{ post.image_file.url }}" alt="Obrazek ilustrujący treść posta">
    </div>
    {% endif %}
</ul>
{% endblock %}