/*li:nth-child(odd) a {*/
/*    background-color: darkgrey;*/
/*}*/

a {
    text-decoration-line: none;
    color: black;
}

a:visited {
    color: black;
}

li a:hover {
    text-decoration: underline;
    color: black;
}