{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<link href="{% static 'books/css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %} Dodawanie/edycja książki {% endblock %}

{% block main %}
<div class="center-form-800px-border1px">
    <form id="form-container" method="post" action="add" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <hr>
        {{ formset.management_form }}
        {% for form in formset %}
        <div class="author-form">
            {{ form|crispy }}
        </div>
        {% endfor %}
        <section class="text-end">
            <button type="button" id="add-form" class="btn btn-outline-light me-2">Dodaj autora</button>
        </section>
        <hr>
        <section class="text-end">
            <input type="submit" name="submit" class="btn btn-primary" value="Prześlij">
        </section>
    </form>
</div>
{% endblock %}
{% block additional_scripts %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
<script>
    let form = document.querySelectorAll(".author-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
    let formNum = form.length - 1
    addButton.addEventListener('click', addForm)

    function addForm(e) {
        e.preventDefault()

        let newForm = form[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`, 'g')

        formNum++

        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}`)
        container.insertBefore(newForm, addButton)

        totalForms.setAttribute('value', `${formNum + 1}`)
    }
</script>
{% endblock %}