{% extends 'base.html' %}
{% load static %}

{% block title %} Lista książek {% endblock %}
<link href="{% static 'posts/css/style.css' %}" rel="stylesheet" type="text/css">
{% block main %}
<h1>
    <img alt="Logo kategorii" class="logo" src="{% static 'books/img/books_logo.png' %}">
    Książki
    {% if user.is_authenticated %}
    <div class="text-end">
        <a class="btn btn-outline-light me-2" href="{% url 'books:add' %}">
            Dodaj nową książkę
        </a>
    </div>
    {% endif %}
</h1>
<table class="table table-dark table-striped">
    <thead>
    <tr>
        <td>Tytuł</td>
        <td>Miejsce i rok wydania</td>
        <td>Dostępność</td>
    </tr>
    </thead>
    <tbody>
    {% for book in books_list %}
    <tr>
        <td><a href="{% url 'books:details' book.id %}">{{book.title}}</a></td>
        <td>{{book.publication_city}} {{book.publication_year}}</td>
        <td>
            {% if book.available %}
            na półce
            {% else %}
            wypożyczona
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}